<!DOCTYPE html>
<html>
  <head>
    <title>Flack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <script type="text/javascript"> window.logoURL = "<%= image_url('flack_logo.png') %>";</script>
    <script type="text/javascript"> window.warningURL = "<%= image_url('triangle.png') %>";</script>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
