<!DOCTYPE html>
<html>
  <head>
    <title>Flack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ff1d08833f.js" crossorigin="anonymous" SameSite=None></script>
    <script type="text/javascript"> 
      window.logoURL = "<%= image_url('flack_logo.png') %>",
      window.flack_logoURL = "<%= image_url('flack_logo.png') %>",
      window.asana_iconURL = "<%= image_url('asana-icon.png') %>",
      window.atlassian_iconURL = "<%= image_url('atlassian-icon.png') %>",
      window.blue_chat_iconURL = "<%= image_url('blue-chat-icon.png') %>",
      window.dropbox_iconURL = "<%= image_url('dropbox-icon.png') %>",
      window.google_iconURL = "<%= image_url('google-icon.png') %>",
      window.green_chat_iconURL = "<%= image_url('green-chat-icon.png') %>",
      window.yellow_chat_iconURL = "<%= image_url('yellow-chat-icon.png') %>",
      window.red_chat_iconURL = "<%= image_url('red-chat-icon.png') %>",
      window.hubspot_iconURL = "<%= image_url('hubspot-icon.png') %>",
      window.zendesk_iconURL = "<%= image_url('zendesk-icon.png') %>",
      window.zoom_iconURL = "<%= image_url('zoom-icon.png') %>",
      window.warningURL = "<%= image_url('triangle.png') %>"
      window.enterpriseURL = "<%= image_url('marketing-enterprise.png') %>"
      window.highlightsURL = "<%= image_url('marketing-highlights.png') %>"
      window.avatar1 = "<%= image_url('avatar1.png') %>"
      window.avatar2 = "<%= image_url('avatar2.png') %>"
      window.avatar3 = "<%= image_url('avatar3.png') %>"
      window.avatar4 = "<%= image_url('avatar4.png') %>"
      window.avatar5 = "<%= image_url('avatar5.png') %>"
      window.avatar6 = "<%= image_url('avatar6.png') %>"
      window.avatar7 = "<%= image_url('avatar7.png') %>"
      window.avatar8 = "<%= image_url('avatar8.png') %>"
      window.avatar9 = "<%= image_url('avatar9.png') %>"
    </script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
